.markdown_content{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  border-width: 0 1px 0 1px;
  border-style: dashed;
  border-color: #d6d6d6;
  padding: 0 20px 0 20px;
  /* margin-right: 5%; */
  max-width: 768px;
}
.markdown_content em {
    color: gray;
    margin: 0 2px 0 2px;
}
.meta_string {
    font-size: 10px;
    padding-left: 20px;
    margin-top: 20px;
    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: #d6d6d6;
    color: #d6d6d6;
}
p{

}
pre{
  background-color: #d6ead6;
  padding: 3px;
  margin: 10px 0 10px 0;
  font-size: 14px;
}

pre .hljs {
  background-color: #f2fbf2;
}
ul,ol{

}
ul{

}
ul li{

}
ol{

}
img{
  max-width: 100%;
}
.navnode{
  padding: 3px 3px 3px 10px;
  display: block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(216, 216, 216, 0.22);
  margin: 1px;
}
.navnode a{
  text-decoration: none;
}
.navigation_area{
  display: inline-block;
  font-size: 10px;
}
.navnode_title{display: inline-block;color: #e462b9;/* background: #cccccc; *//* padding: 2px; */}

.plot {
  max-height: 400px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 2px 2px 6px;
  margin: 10px;
}

:not(pre)>code{
  background-color: #d2eccd;
  padding: 3px;
  color: #0b3e0b;
}
blockquote{
  background-color: #f9eec6;
  text-align: center;
  display: block;
  padding: 1px;
  margin: 10px 0 10px 0;
}

h1,h2,h3{
  display: block;
  text-align: center;
}
